<p style="color: green"><%= notice %></p>

<h1>User2s</h1>

<div id="user2s">
  <% @user2s.each do |user2| %>
    <%= render user2 %>
    <p>
      <%= link_to "Show this user2", user2 %>
    </p>
  <% end %>
</div>

<%= link_to "New user2", new_user2_path %>
